@model IEnumerable<University.Models.Faculty>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("FacultyList", "Faculty", FormMethod.Post))
{


    @*<input type="text" name="SearchFaculty" class="form-control" />*@
    @Html.TextBox("SearchFaculty")
    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FacultyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FacultyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FacultyId })
            </td>
        </tr>
    }

</table>


